<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <table>
            <caption>My Table</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Semester</th>
                    <th>Faculty</th>
                </tr>
            </thead>
            <tbody>
                <% courses.forEach(item =>{ %>
                    <tr>
                        <td>
                            <%= item.id  %>
                        </td>
                        <td>
                            <%= item.name  %>
                        </td>
                        <td>
                            <%= item.type  %>
                        </td>
                        <td>
                            <%= item.semester  %>
                        </td>
                        <td>
                            <%= item.faculty  %>
                        </td>
                    </tr>

                    <%   }); %>
            </tbody>
        </table>
    </div>
</body>

</html>